<div class="row mb-1">
  <div class="col-12 d-flex justify-content-end">
    <span class="align-middle">
    <%= link_to '#', data: { toggle: 'modal', target: '#generateModal' } do %>
      <%= icon('fas', 'info-circle', class: 'fa-2x mr-1') %>
    <% end %>
    </span>
    <%= link_to t('.generate'), mailbox_create_path, method: :post, class: 'btn btn-success btn-sm mr-1' %>
    <%= link_to t('.logout'), mailbox_logout_path, method: :post, class: 'btn btn-primary btn-sm mr-1' %>
    <%= link_to mailbox_destroy_path, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: t('.destroy_confirmation') } do %>
      <%= icon('fas', 'trash') %>
      <%= t('.delete') %>
    <% end %>
  </div>
</div>

<div class="row mb-1">
  <div class="col-md-6 col-xs-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title">Mailbox details</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <p>Save these details so you don't lose any data</p>
          <fieldset class="form-group">
            <label for="email">Email</label>
            <div class="input-group">
              <input type="text" class="form-control" id="email" readonly="readonly" value="<%= current_mailbox.email %>">
              <div class="input-group-append">
                <button class="btn btn-primary copy" type="button">Copy</button>
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <%= link_to '#', data: { toggle: 'modal', target: '#sessionModal' } do %>
              <%= icon('fas', 'info-circle') %>
            <% end %>
            <label for="session">Session url</label>
            <div class="input-group">
              <input type="text" class="form-control" id="session" readonly="readonly" value="<%= mailbox_session_url current_mailbox %>">
              <div class="input-group-append">
                <button class="btn btn-primary copy" type="button">Copy</button>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <form class="form form-horizontal">
              <div class="form-body">
                <div class="row">
                  <div class="col-md-5">
                    <label><%= t('.generated_at') %></label>
                  </div>
                  <div class="col-md-7 form-group">
                    <%= current_mailbox.created_at %>
                  </div>
                  <div class="col-md-5">
                    <label><%= t('.emails_received') %></label>
                  </div>
                  <div class="col-md-7 form-group">
                    <%= current_mailbox.inbound_emails.size %>
                  </div>
                  <div class="col-md-5">
                    <label><%= t('.erases_in') %></label>
                  </div>
                  <div class="col-md-7 form-group">
                    <span title="<%= current_mailbox.expires_at %>"><%= distance_of_time_in_words_to_now current_mailbox.expires_at %></span>
                  </div>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row mb-1">
  <div class="col-12 d-flex align-items-center justify-content-between">
    <button id="refresh" class="btn btn-primary glow"><%= t('.refresh') %></button>
    <small class="text-muted"><%= t('.last_refresh') %>: <span id="last_refresh"></span></small>

  </div>
</div>

<div id="emails_list"></div>
<div id="email-container"></div>

<%= render partial: 'modals' %>


<%= javascript_pack_tag 'inbox', 'data-turbolinks-track': 'reload' %>
