<footer class="footer footer-static footer-dark">
  <div class="container">
    <div class="row mb-2">
      <div class="col-12">
        <p class="clearfix mb-0">
          <div class="float-left">
            <h6 class="mb-0"><%= t('app_name') %></h6>
            <ul class="links">
              <li><%= link_to 'Phone Numbers', phone_numbers_path %></li>
              <li><%= link_to 'API', rswag_ui_path %></li>
              <li><%= link_to 'Changelog', changelog_index_path %></li>
              <li><%= link_to 'Privacy', '#', data: { toggle: 'modal', target: '#privacyModal' } %></li>
              <li></li>
            </ul>
          </div>
          <span class="float-right d-sm-inline-block d-none">Developed by<a class="text-uppercase" href="https://github.com/andrepcg" target="_blank">andré perdigão</a></span>
        </p>
      </div>
    </div>
  </div>
</footer>

<div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Privacy</h5>
      </div>
      <div class="modal-body">
        <p>All emails and sms received in Roasted.email are not processed in any way. No personal information is collected whatsoever.</p>
        <p>Mailboxes and their corresponding emails are destroyed after <%= distance_of_time_in_words(Mailbox::DEFAULT_VALID_FOR) %>.</p>
        <p>SMS are destroyed after 2 hours of being received.</p>
        <p>Only general system statistics are collected to provide the stats panel. These stats are totally data-free, meaning it's merely a counter to track how many of each the system has received, their not tied to a specific mailbox or phone number.</p>
        <p>Check the code on <a href="https://github.com/andrepcg/roasted-mail">Github</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
          <span class="d-sm-block">Close</span>
        </button>
      </div>
    </div>
  </div>
</div>