<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app_name') %> | <%= t('app_description') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'mailbox', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'application/favicon' %>
  </head>

  <body class="dark-layout">
    <main id="content" role="main">
      <div class="container">
        <div class="row mb-2">
          <div class="col text-center mt-2">
            <%= link_to mailbox_path do %>
              <%= image_tag("roasted.svg", alt: t('app_name'), title: t('app_name'))%>
            <% end %>
          </div>
        </div>
        <%= yield %>
      </div>
    </main>
    <footer class="footer footer-static footer-dark">
      <p class="clearfix mb-0">
        <span class="float-left d-inline-block"><%= t('app_name') %></span>
        <span class="float-right d-sm-inline-block d-none">Developed by<a class="text-uppercase" href="https://github.com/andrepcg" target="_blank">andré perdigão</a></span>
      </p>
    </footer>
  </body>
</html>
